# Не коммитим реальные .env файлы с секретами
.env
.env.local
.env.*.local
.venv
.helper

__pycache__/
*.pyc

# Логи
logs/
*.log

# Данные volumes
postgres_data/
metabase_plugins/

temp/
prj/

inf.txt